#education {
    background-color: var(--grey-bg);
    min-height: 600px;
}

#education-header {
    color: var(--dark-white);
    font-size: 40px;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    text-align: center;
}

#education-cards {
    margin-bottom: 200px;
}

.education-card {
    height: 300px;
    width: 420px;
    background-color: var(--grey-bg-darker);
    border-radius: 20%;
    margin: 50px 100px;
    text-align: center;
    padding-bottom: 30px;
}

.education-card h1 {
    color: var(--light-green-bg2);
    padding-top: 40px;
    margin-bottom: 0px;
    width: 380px;
    margin: 0px auto;
}

.education-card h2 {
    margin-top: 10px;
    color: var(--light-green-bg2);
    font-style: italic;
}

.education-card p {
    color: var(--dark-white);
    font-size: 18px;
}

#text-italics {
    font-style: italic;
}


.rectangle {
    background-color: var(--light-green-bg2);
    height: 260px;
    width: 40px;
    margin: 0px auto;
}

.triangle {
    /* source for triangle: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-down */
    height: 0px;
    width: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 80px solid var(--light-green-bg2);
    margin: 0px auto;
    

}