.footer {
    background-color: var(--grey-bg-darker);
    width: 100%;
    font-size: 20px;
    padding: 8px 0px;
  }
  
  #space {
    width: 40px;
    background-color: red;
  }
  
  #footer-top {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  
  /* source for justify-content: https://www.w3schools.com/cssref/css3_pr_justify-content.php */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .footer a {
    text-decoration: none;
    color: var(--dark-white);
  }
  
  .footer a:hover {
    color: var(--light-white);
  }
  
  #footer-bottom {
    justify-content: center;
  }

  .attributions {
    font-size: 14px;
    min-width: 400px;
    text-align: center;
  }
  
  
  